<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>数据中心</title>
    <div th:replace="common/head"></div>
    <link th:href="@{/css/myTable.css}" rel="stylesheet"/>
</head>

<body>
    <div id="wrapper">
        <div th:replace="common/navigation"></div>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row page-header-box">
                    <div class="col-lg-12">
                        <h1 class="page-header">数据中心</h1>
                    </div>
                </div>
                <!-- Page Heading -->
                <div class="panel king-panel1">
                    <div class="panel-heading king-panel-head1 king-panel-top3" role="tab" id="headingOne">
                        <div class="king-panel-control">
				            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="fa fa-minus-square-o fa-lg"></a>
				        </div>
                        <h3 class="panel-title" th:text="#{system.query.condition}"></h3>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                	<div class='panel-body'>
                		<form role="form" id="form-datacenter-query">
                		    <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">渠道</div>
                                        <select id="channelIdQuery" class="form-control" style="width: 100%">
                                        </select>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 col-md-6 col-lg-4">
					            <div class="form-group">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <div class="input-group-addon">日期</div>
                                        <input type="text" class="form-control" id="startDay" />
                                        <span class="input-group-addon">至</span>
                                        <input type="text" class="form-control" id="endDay" />
                                    </div>
					            </div>
                			</div>

                		    </div>
                            <div class="row">
                            <div class="col-lg-12">
                                <hr class="mt5 mb15">
                                <button type="submit" class="king-btn king-info king-radius"><i class="fa fa-search"></i> <span th:text="#{system.query}"></span></button> 
                            </div>
                            </div>
                			</form>
                	</div>
                	</div>
                </div>
                <!---->
                <div class="panel king-panel1">
                	<div class="panel-heading king-panel-head1 king-panel-top3" role="tab" id="headingTwo">
	               	    <div class="king-panel-control">
				            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="fa fa-minus-square-o fa-lg"></a>
				        </div>
				        <h3 class="panel-title">渠道每日推广列表</h3>
                	</div>
                	<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                	<div class='panel-body'>
                        <div id="div-table-container" class="table-responsive">
                            <table id="table-datacenter" class="table table-bordered table-hover table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th><span>父渠道</span></th>
                                        <th><span>渠道</span></th>
                                        <th><span>日期</span></th>
                                        <th><span>报名数</span></th>
                                        <th><span>展示数</span></th>
                                        <th><span>点击数</span></th>
                                        <th><span>消费金额</span></th>
                                        <th><span>单价</span></th>
                                        <th><span>付费方式</span></th>
                                        <th><span>操作</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                	</div>
                	</div>
                </div>

                <div class="panel king-panel1">
                    <div class="panel-heading king-panel-head1 king-panel-top3" role="tab" id="headingThree">
                        <div class="king-panel-control">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="fa fa-minus-square-o fa-lg"></a>
                        </div>
                        <h3 class="panel-title">渠道汇总推广列表（截止目前）</h3>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                        <div class='panel-body'>
                            <div id="div-table-container2" class="table-responsive">
                                <table id="table-channel" class="table table-bordered table-hover table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th><span>父渠道</span></th>
                                        <th><span>渠道</span></th>
                                        <th><span>总报名数</span></th>
                                        <th><span>总展示数</span></th>
                                        <th><span>总点击数</span></th>
                                        <th><span>总消费金额</span></th>
                                        <th><span>单价</span></th>
                                        <th><span>付费方式</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" data-backdrop="static" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="border-radius:5px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            <form id="form-channellog" class="form-horizontal">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="hidden" name="id" id="id"/>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label"><span>渠道</span>：</label>
                                                <div class="col-md-6">
                                                    <p class="form-control-static" id="channelName"></p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label"><span>日期</span>：</label>
                                                <div class="col-md-6">
                                                    <p class="form-control-static" id="day"></p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label"><span>付费方式</span>：</label>
                                                <div class="col-md-6">
                                                    <p class="form-control-static" id="payType"></p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label"><span>报名数</span>：</label>
                                                <div class="col-md-6">
                                                    <input type="text" name="activity" class="form-control" id="activity"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label"><span>展示数</span>：</label>
                                                <div class="col-md-6">
                                                    <input type="text" name="display" class="form-control" id="display"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label"><span>点击数</span>：</label>
                                                <div class="col-md-6">
                                                    <input type="text" name="click" class="form-control" id="click"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="king-btn king-radius king-primary"><span>保存</span></button>
                                    <button type="button" class="king-btn king-radius king-default" data-dismiss="modal"><span>取消</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <div th:replace="common/script"></div>
    
    <!-- 用户管理js -->
    <script th:src="@{/js/constant.js}"></script>
    <script th:src="@{/js/datacenter.js}"></script>
</body>

</html>
